<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>Pin It</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body ng-app="myApp">
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Pin It <small>- The Universal Bookmarking App</small></a>
      </div>
      <div class="navbar-collapse collapse">
        <form class="navbar-form navbar-right" role="form">
          <div class="input-group" ng-controller="SearchCtrl">
            <input type="text" class="form-control" placeholder="Find Bookmarks" ng-model="searchCriteria">
            <span class="input-group-btn">
              <button class="btn btn-danger" ng-click="searchIt(searchCriteria)">Search</button>
            </span>
          </div>
          <button class='btn btn-primary form-control' data-toggle="modal" data-target="#addBookmark">Add New Bookmark</button>
        </form>
      </div><!--/.navbar-collapse -->
    </div>
  </div>

  <div ng-view class="view-animation" ng-class="slideDirection"></div>

<!--(if target dev)><!-->
<script src="bower_components/modernizr/modernizr.js"></script>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers.js"></script>
<script src="js/services.js"></script>
<!--<!(endif)-->
<!--(if target dist)>
<script src="js/pin-it.js"></script>
<!(endif)-->
</body>
</html>
