<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>Angular UI NG-Grid</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="bower_components/ng-grid/ng-grid.css">
</head>
<body ng-app="myApp">

<div ng-controller="NgGridCtrl">
    <div class="gridStyle" ng-grid="gridOptions"></div>
    <div ng-repeat="item in selection">
        <h1>{{ item.decade}}: {{ item.lang }}</h1>
        <p>{{ item.lang }} was created in {{ item.year }}. {{ item.comment }}</p>
        <label for="comment-{{ $index }}">Details:
        <textarea id="comment-{{ $index }}" ng-model="item.comment" rows="3"></textarea>
        </label>
    </div>
</div>

<!--(if target dev)><!-->
<script src="bower_components/jquery/jquery.js"></script>
<script src="bower_components/jquery-ui/ui/jquery-ui.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/ng-grid/ng-grid-2.0.7.debug.js"></script>
<script src="js/app.js"></script>
<script src="js/services.js"></script>
<script src="js/controllers.js"></script>
<script src="js/filters.js"></script>
<!--<!(endif)-->
<!--(if target dist)>
<script src="js/fun-with-ng-grid.js"></script>
<!(endif)-->
</body>
</html>
