body {
    margin: 20px;
    font-family: sans-serif;
}

.gridStyle {
    border: 1px solid #999;
    height: 300px;
    max-width: 500px;
}

.detail {
    max-width: 500px;
}

label textarea{
    vertical-align: middle;
    width: 100%;
}
