body {
    margin: 20px;
}

.map-canvas {
    height: 600px;
}

.latLng {
    width: 200px;
    color: lightskyblue;
    background-color: #333;
    margin: 10px 0;
    padding: 5px;
    box-shadow: 5px 5px 5px #888;
}
