.container {
  position: relative;
  border: 1px solid gray;
  margin: 0 auto;
  box-shadow: 2px 2px 2px gray;
  font-size: 14px;
  color: white;
}
.bar {
  position: absolute;
  bottom: 0px;
  text-align: center;
  word-break: break-all;
}